*{
	margin:0;
	padding:0;
}

body{
  background-color:#f6f6f6f6;
  background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
  width:960px;
  font-family: Verdana, Geneva, sans-serif;
  margin: auto;
}

.header{
	background-color: white;
  width:100%;
	margin:0;
  /*color:#555;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
	a;
  margin-top: 1.5em;*/
  height: 130px;
	border-top: 25px #097cbe solid;
	border-bottom: 3px #097cbe solid;
}

.navElement{
  border: 1px transparent solid;
  color:#063559;
  font-size:20px;
  text-decoration: none;
  float:left;
  width:25%
  padding:auto;
  margin-left:4%;
  margin-right:4%;
  margin-top: 2em;
  margin-bottom: 3em;
}

.navElement:hover{
  color:#097cbe;
	text-shadow: #999 0px 0px 0.5px;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.navElement:active{
	color:#59bcff;
  /*border: 1px black dotted;*/
  box-sizing:border-box;
}

.NAV{
	background-color: white;
	width:960px;
	color:#555;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 15px;
	margin: auto;
	height: 100%;
  box-sizing:border-box;
}

.logo{
  height: 100px;
  float: left;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.BGcontent{
	text-shadow: #000 0px 2px 2px;
	-webkit-font-smoothing: antialiased;
	color: white;
	padding-top: 10em;
	padding-bottom: 10em;
	padding-left: auto;
	padding-right: auto;
}

.panel{
	float: left;
	background-color: white;
	border-left: 15px #097cbe solid;
	height: 230px;
	margin: 0.5em;
	width: 43%;
  box-sizing:content-box;
}
.panelIcon{
	margin: 1em;
	margin-right: 0;
	float: left;
	width: 75px;
	height: 75px;
	margin-top: auto;
	margin-bottom: auto;
}

.panelText{
	margin: 1em;
	float: left;
	width: calc(100% - 75px - 3em);
}
